@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

@font-face {
  font-family: 'caslongrad';
  src: url('CaslonGraD.ttf') format('truetype');
  font-display: swap;
}
